/* start global */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0
}

.container{
    width: 1000px;
    margin: auto;
}

.clearfix{clear: both}

/* end global */

/* start navbar */
.navbar{
    height: 80px;
    width: 100%;
    background-color:#f2f2f2;
    padding: 30px;
    margin: 0;
    position:sticky;
    z-index: 1;
    top: 0;
    
}

.nav-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar .search::after{
    content: "";
    border-bottom: 1px solid #a7a6a6;
    border-radius: 2px;
    height: 1px;
    display: block;
}
.navbar .search:hover  {
    border-bottom: 3px solid #696969;
}

.navbar .search input{
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
    width: 90%;
}

.navbar .search input:focus{
    outline: none !important;
}

.navbar .search i{
    color: #999999 ;
    float: inline-end;
}

.navbar ul {
    list-style-type: none;
    padding-left: 13%;
    margin: 0;
    
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    padding-left: 27px;
    text-decoration: none;
    color: gray;
}

.navbar ul li a:hover {
    color: #194d91;
    transition: .5s ease;
}
.navbar ul li .active{
    color: #194d91;
}

.navbar .social-icon{
    padding-left: 60px;
}

.navbar .social-icon i{
    padding-left: 15px;
    color: gray;
}

.navbar .social-icon .fa-facebook:hover{
    color:#3b5998;
    transition: .5s ease;
}

.navbar .social-icon .fa-instagram:hover{
    color:#db3f90;
    transition: .5s ease;
}

.navbar .social-icon .fa-pinterest-p:hover{
    color:#bd081c;
    transition: .5s ease;
}

.navbar .social-icon .fa-twitter:hover{
    color:#1da1f2;
    transition: .5s ease;
}

.navbar .bar{
    font-size: 25px;
    color:#2573da;
    cursor: pointer;
    display: none;
}
/* end navbar */

/* start opening */

.opening{
    height: 475px;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center ;
    display: flex;
    flex-wrap: wrap;
}

.opening .opening-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.opening .overlay{
    text-align: center;
    color: white;
}

.opening .overlay p {
    font-size: 17px;
    font-weight: lighter;
    margin: 0;
}

.opening .overlay h1{
    font-size: 70px;
    margin: 0 20px 0px 20px;
    font-family:'Courier New', Courier, monospace;
}

/* end opening */

/* start section */
.section{
    height: 400px;
}

.section .section-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
} 

.section p{
    text-align: center;
    color:gray;
    margin: 40px;
}

.section .a {
    position: relative;
}

.section .a .button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 5px;
    height: 60px;
    width: 160px;
    color: #2573da;
    border: none;
    border-radius: 2px;
    font-size: 30px;
    background-color: white;
    text-align: center;
}

.section .a .button:hover{
    background-color: #2573da;
    color: white;
    transition: .5s ease;
}

/* end section */

/* start media screen */

@media (max-width:600px) {
    .container{
        width: 30em;
    }
    .navbar{
        height: 120px;
        padding-top: 20px ;
    }
    .nav-flex{
        justify-content: space-around;
        flex-direction:row ;
        align-items: center;
    }
    .navbar ul{
        display: none;
    }
    .navbar .search{
        order: 2;
        margin-top: 20px;
    }
    .navbar .social-icon{
        padding-left: 0 ;
        flex:1 70%;
        order: 1;
    }
    .navbar .search{
        flex: content;
    }
    .navbar .social-icon i{
        padding-left: 30px;
    }
    .navbar .social-icon .fa-facebook{
        padding-left: 0;
    }
    .navbar .bar{
        display: block;
        order: 1;
    }
    /* end navbar */

    /* start opening */
    .opening{
        height: 300px;
    }
    .opening .overlay h1 {
        font-size: 40px;
    }
    /* end opening */

    /* start section */
    .section p{
        width: auto;
    }
    .section .section-flex .a{
        margin: auto;
    }
    /* end section */

}
/* end media screen */