/* start global */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.container{
    width: 1000px;
    margin: auto;
}

/* end global */

/* start navbar */
.navbar{
    height: 80px;
    width: 100%;
    background-color:#f2f2f2;
    padding: 30px;
    margin: 0;
    position:sticky;
    z-index: 1;
    top: 0;
    
}

.nav-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar .search::after{
    content: "";
    border-bottom: 1px solid #a7a6a6;
    border-radius: 2px;
    height: 1px;
    display: block;
}
.navbar .search:hover  {
    border-bottom: 3px solid #696969;
}

.navbar .search input{
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
    width: 90%;
}

.navbar .search input:focus{
    outline: none !important;
}

.navbar .search i{
    color: #999999 ;
    float: inline-end;
}

.navbar ul {
    list-style-type: none;
    padding-left: 13%;
    margin: 0;
    
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    padding-left: 27px;
    text-decoration: none;
    color: gray;
}

.navbar ul li a:hover {
    color: #194d91;
    transition: .5s ease;
}
.navbar ul li .active{
    color: #194d91;
}

.navbar .social-icon{
    padding-left: 60px;
}

.navbar .social-icon i{
    padding-left: 15px;
    color: gray;
}

.navbar .social-icon .fa-facebook:hover{
    color:#3b5998;
    transition: .5s ease;
}

.navbar .social-icon .fa-instagram:hover{
    color:#db3f90;
    transition: .5s ease;
}

.navbar .social-icon .fa-pinterest-p:hover{
    color:#bd081c;
    transition: .5s ease;
}

.navbar .social-icon .fa-twitter:hover{
    color:#1da1f2;
    transition: .5s ease;
}

.navbar .bar{
    font-size: 25px;
    color:#2573da;
    cursor: pointer;
    display: none;
}
/* end navbar */

/* start opening */

.opening{
    height: 475px;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center ;
    display: flex;
    flex-wrap: wrap;
}

.opening .opening-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.opening .overlay{
    text-align: center;
    color: white;
}

.opening .overlay p {
    font-size: 17px;
    font-weight: lighter;
    margin: 0;
}

.opening .overlay h1{
    font-size: 70px;
    margin: 0 20px 0px 20px;
    font-family:'Courier New', Courier, monospace;
}

/* end opening */

/* start section */
.section{
    height: 400px;
}

.section .section-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} 

.section p{
    text-align: center;
    color:gray;
    margin: 40px;
}

.section .a {
    position: relative;
}

.section .a .button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 5px;
    height: 60px;
    width: 160px;
    color: #2573da;
    border: none;
    border-radius: 2px;
    font-size: 30px;
    background-color: white;
    text-align: center;
}

.section .a .button:hover{
    background-color: #2573da;
    color: white;
    transition: .5s ease;
}

/* end section */


/* start featured */

.featured{
    height: 135px;
    background-color:#f2f2f2;
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-flow: row wrap;
}

.featured p{
    float: left;
    width: 20%;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 12px;
}

.featured .dash{
    float: left;
    width: 1%;
    border-right: 1px solid black;
    height: 55px;
}

.featured .featured-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.featured p span{
    padding-left: 30px;
}

.featured .b p{
    font-size: 25px;
    margin: 0;
}

.featured .b p span{
    font-weight: bolder;
    font-size: 25px;
    padding-left: 0;
}

.featured .b i{
    color: #342216;
}

.fa-plane{
    text-align: center;
    padding-top: 25%;
    padding-left: 20%;
}

.fa-cloud{
    padding-left: 35%;
}

/* end featured */

/* start comment */
.comment .comment-flex{
    display: flex;
    flex-flow: column wrap;
}
.comment .card{
    border: 1px solid #e7e6e6;
    margin: 20px;
    height: 760px;
    width: 942px;
}

.comment .card .avatar{
    height: 45px;
    width: 45px;
    float: left;
    margin-right: 15px;
}

.comment .card  .ad-info{
    float: left;
    font-size: 15px;
    width: 92%;
}

.comment .card .padding{
    padding: 0px 60px 0px 60px;
}

.comment .card .padding h3{
    margin: 0px ;
    font-family:'Trebuchet MS';
    font-weight: normal;
}

.comment .card .padding .text{
    margin-bottom: 0px;
}

.comment .card .padding .text:hover{
    color: blue;
    transition: .5s ease;
}

.comment .card .padding .text p{
    margin: 0px;
}

.comment .card hr{
    height: 80%;
    color: #cccccc;
}

.comment .card .padding hr ~ p{
    float: left;
    width: 6%;
    margin: 0;
}

.comment .card .padding .f-right{
    width: 4%;
    float: right;
}

.fa-comment-o:hover{
    color: #2573da;
    transition: .5s ease;
}

.fa-heart-o{
    color: #e84a43;
    transition: .5s ease;
}

/* end comment */

/* start social-bar */

.social-bar {
    height: 60px;
    background-color: #1c60b8;
    margin-top: 20px;
    color: white;
}

.social-bar .social-flex{
    display: flex;
    flex-flow: row wrap;
}

.social-bar .social{
    flex: 25%;
    padding: 10px;
    padding-top: 15px;
}

.social-bar .social i{
    float: left;
    color: white;
    padding:5px 10px 0px 0px;
}

.social-bar .social a{
    margin: 0px;
    float:left;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

/* end social-bar */

/* start gallery */
.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery .photo{
    position: relative;
    height: 230px;
    flex-grow: 25%;
    width: 269px;
}

.gallery .photo:hover .overlay{
    opacity: 65%;
    transition: .5s ease;
}

.gallery .photo img{
    height: 230px; ;
    width: 269px;
}

.gallery .photo .overlay{
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .5s ease;
}

.gallery .photo .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 19px;
    width: 80%;
}

/* end gallery */

/* start footer */

.footer{
    height: 400px;
    background-color: #696969;
    color: white;
    padding-top: 45px;
}

.footer .footer-flex{
    display: flex;
    flex-flow: row wrap;
}

.footer .about {
    flex: 65%;
}

.footer .about img{
    float: left;
    width: 25%;
    height: 150px;
    margin: 10px;
    margin-right: 25px;
}

.footer .about h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.footer .about p {
    width: 90%;
    font-weight: lighter;
}

.footer .about a{
    color: white;
}

.footer .e-mail{
    flex: 35%;
    padding-left: 25px;
}

.footer .e-mail .head{
    font-size: 22px;
    margin: 20px 0 0 0;
}

.footer .e-mail p{
    margin: 0 0 5px 0;
}

.footer .e-mail input[type=text]{
    color: white;
    background-color: #696969;
    width: 90%;
    height: 35px;
    padding: 5px 15px;
    margin: 5px 0 10px 0;
    outline: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.footer .e-mail input[type=text]:hover , .footer .e-mail input[type=text]:focus{
    border: 3px solid #f2f2f2;
}

.footer .e-mail input[type=submit]{
    color: white;
    background-color: #2573da;
    width: 90%;
    height: 35px;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
    cursor:pointer;
}

.footer .e-mail input[type=submit]:hover{
    background-color: #5e99e7;
    transition: .5s ease;
}

.footer .copy-right{
    margin: 100px 0 0 0;
    flex: 100%;
    display: flex;
    flex-flow: row wrap;
}

.footer .copy-right p{
    font-size: 12px;
    margin-top: 0;
    flex: 40%;
}

.footer .a{
    flex: 10%;
}
.footer img{
    height: 15px;
}

.footer .social-icon{
    padding-left: 15%;
    flex: 40%;
}

.footer .social-icon i{
    padding-left: 15px;
    color: white;
}

.footer .social-icon .fa-facebook:hover{
    color:#3b5998;
    transition: .5s ease;
}

.footer .social-icon .fa-instagram:hover{
    color:#db3f90;
    transition: .5s ease;
}

.footer .social-icon .fa-pinterest-p:hover{
    color:#bd081c;
    transition: .5s ease;
}

.footer .social-icon .fa-twitter:hover{
    color:#1da1f2;
    transition: .5s ease;
}

/* end footer */

.chat{
    padding: 16px;
    position: fixed;
    bottom: 4%;
    right: 1.5%;
    color: white;
    background-color: #2573da;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px hsla(0,1.4%,71%,.5);
    border-radius: 2px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------*/
/* start media screen */

@media (max-width:600px) {
    .container{
        width: 355px;
    }
    .navbar{
        height: 90px;
        padding-top: 15px ;
    }
    .nav-flex{
        justify-content: space-around;
        flex-direction:row ;
        align-items: center;
    }
    .navbar ul{
        display: none;
    }
    .navbar .search{
        order: 2;
        margin-top: 15px;
    }
    .navbar .social-icon{
        padding-left: 0 ;
        flex:1 70%;
        order: 1;
    }
    .navbar .search{
        flex: content;
        width: 100%;
    }
    .navbar .social-icon i{
        padding-left: 30px;
    }
    .navbar .social-icon .fa-facebook{
        padding-left: 0;
    }
    .navbar .bar{
        display: block;
        order: 1;
    }
    .navbar .fa-caret-down{display: none;}
    /*nav responseve */
    .nav-responseve{
        position: relative;
        height: 275px;
    }
    .navbar-responseve .fa-bars{
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-responseve ul{
        display: block;
        order: 3;
        width: 100%;
        padding-left: 35%;
        padding-top: 10px;
    }
    .navbar ul li {
        float: none;
        padding: 5px;
    }
    /* end navbar */

    /* start opening */
    .opening{
        height: 300px;
    }
    .opening .overlay h1 {
        font-size: 40px;
    }
    /* end opening */

    /* start section */
    .section{height: auto;}
    .section .section-flex{
        justify-content: flex-start;
        margin-left: 6%;
    }
    .section p{
        width: 300px;
        margin: 20px 40px;
    }
    /* end section */

    /* start featured */
    .featured{
        flex-direction: column;
        height: 240px;
        padding: 0;
    }
    .featured p:first-child{
        float: none;
        width: 100%;
        text-align: center;
    }
    .featured .dash{display: none;}

    .featured .featured-flex{
        width: 87%;
        margin-left: 10%;
    }
    .featured .b{padding:15px;}
    /* end featured */

    /* start comments */
    .comment .card{
        height: 430px;
        width: 350px;
        margin-left: 1%;
    }
    .comment .card .padding{padding: 0px 35px;}
    .comment .card img{
        height: auto;
        width: 349px;
    }
    .comment .card .padding .text span{display: none;}
    .comment .card .padding hr ~ p{
        width: 20%;
    }
    .comment .card .padding .f-right{width: 15%;}
    /* end comments */

    /*start social-bar */
    .social-bar {height: 100px;}
    .social-bar .social{flex: 50%}
    .social-bar .social i{float: none;}
    /* end social-bar */

    /*start gallery */
    .gallery .photo{
        width: 50%;
        height: 200px;
    }
    .gallery .photo img{
        height: 200px;
        width: 100%;
    }
    .gallery .photo .text{width: 85%;}
    /*end gallery */

    /* start footer */
    .footer{
        height:800px;
    }
    .footer .footer-flex{
        flex-direction: column;
    }
    .footer .about{
        display: flex;
        flex-flow: column wrap;
        padding-left: 20px;
    }
    .footer .about img{
        float: none;
        width: 40%;
        order: 2;
        margin: 0;
    }
    .footer .about h2{
        order: 1;
        margin-top: 0;
    }
    .footer .about p , .footer .about a{order: 3;}
    .footer .e-mail{padding-left: 20px;}
    .footer .copy-right{
        flex-direction: column;
        padding-left: 20px;
    }
    .footer .copy-right .arrow{
        order: 3;
        padding-top: 40px;
        padding-left: 45%;
        width: 50%;
    }
    .footer .copy-right p{
        width: 75%;
        margin-bottom: 15px;
    }
    .footer .copy-right .social-icon{
        padding-left: 0;
    }
    .footer .social-icon .fa-facebook{padding-left: 0;}
    /* end footer */
    .chat{border-radius: 50%;}
    .chat i{font-size: x-large;}
}
/* end media screen */